<% @articles.each do |article| %>
  <div class="card text-center">
    <div class="card-header">      
      <i><%= link_to "#{article.user.username}", user_path(article.user), class: "user_index_link" %> </i>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= article.title %></h5>      
      <p class="card-text article-left"> <%= article.description %></p>

      
      <div class="category-box">
        <% if article.categories.any? %>
          <% article.categories.each do |category| %>
            <%= link_to category.name, category_path(category), class: "btn btn-outline-info group-b" %>
          <% end %>
        <% else %>
          <p class="article-left"> <i>No Categories</i> </p>       
        <% end %>
      </div>

      <div class="button-group">
        <%= link_to "View", article_path(article), class: "btn btn-outline-success group-b" %>
        <% if logged_in? && (article.user == current_user || current_user.admin?)%>
          <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-info group-b" %>
          <%= button_to "Delete", article_path(article), class: "btn btn-outline-danger group-b", method: :delete %>
        <% end %>
      </div>
    </div>
    <div class="card-footer text-muted">
      <%= time_ago_in_words(article.created_at) %> ago
    </div>
  </div>
 <% end %>  