<h1>Article Index Page</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>      
        <td> <%= link_to article.id , article_path(article.id) %> </td>
        <td><%= article.title %></td>
        <td> <%= article.description %> </td>
        <td><%= article.created_at %> </td>
      </tr>
    <% end %>           
  </tbody>
</table>

<br />
<%= link_to "New Article", "/articles/new" %>