<div class="container"> 
  <h1>Article Index Page</h1>
  <%= will_paginate @articles %>
  <%= render 'article' %>
</div>

<br />
<%= link_to "New Article", "/articles/new" %> <br />
<%= link_to "New Article Link", new_article_path %> <br />
<%= link_to "Create User", "/signup" %> <br />
<%= link_to "User List", "/users" %>