<div class="container"> 
  <h1 class="text-center mt-4"><%= @article.title %></h1>
  <div class="card text-center">
    <div class="card-header">
      <i><%= @article.user.username %></i>
    </div>
    <div class="card-body">    
      <div class="card-text article-left"> <%= simple_format(@article.description) %></div>       
        <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-info" %>
        <%= button_to "Delete", article_path(@article), class: "btn btn-outline-danger", method: :delete %>
    </div>
    <div class="card-footer text-muted">
      <%= time_ago_in_words(@article.created_at) %> ago
    </div>
  </div>
</div>
