<h1 class="text-center mt-4"> <%= @user.username%>'s Profile Page</h1>
<div class="container user-container">
  <%= image_tag("spartan.png", :alt => "profile_pic", :class => "img-thumbnail user-index" ) %> <br/>
  <% if logged_in? && @user == current_user%>
    <%= link_to "Edit Profile", edit_user_path(@user) %>
  <% end %>    
</div>

<% if @user.articles.any? %>
  <h4 class="text-center mt-4"> <%= @user.username %>'s Articles </h4>
  <div class="flickr_pagination">    
    <%= will_paginate @articles, :container => false %>
  </div>
  <%=render :partial => "articles/article" if @user.articles %>
  <div class="flickr_pagination">    
    <%= will_paginate @articles, :container => false %>
  </div>
<% else %>
  <h4 class="text-center mt-4"> No Articles Posted Yet </h4>
<% end %>